@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #logo {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
  }

  header a {
    cursor: pointer;
  }
  header a:hover {
    color: gray;
  }

  #avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    animation: shadow 7s linear infinite;
  }

  @keyframes shadow {
    0% {
      box-shadow: 0 0 10px #289eff;
    }
    25% {
      box-shadow: 0 0 5px #0d3b61;
    }
    50% {
      box-shadow: 0 0 10px #289eff;
    }
    75% {
      box-shadow: 0 0 5px #0d3b61;
    }
    100% {
      box-shadow: 0 0 10px #289eff;
    }
  }

  .nome {
    background: linear-gradient(180deg, #289eff, #0d3b61);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  button {
    border: 1px solid white;
    padding: 1em;
    border-radius: .8em;
  }
  button:hover {
    box-shadow: 0 0 10px white;
    transition: .5s;
  }

  ul li img {
    padding: .1em;
    width: 35px;
  }
  ul li:hover {
    border-bottom: 1px solid gray;
  }

  .card {
    border-radius: 1em;
    cursor: pointer;
  }
  .card img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
  .card:hover {
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.5);
    transition: .5s;
  }
}
